@import "bootstrap";


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;

}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

body {
  margin: 20px;
}

header {
  font-size: 1.7em;
  background-color: blue;
}

#logo {
  float: left;
  margin-right: 0px;
  font-size: 1.0em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

.Info:hover {
  color: red;
  text-decoration: none;  
}

#popup {
    height: 200px;
    width: 400px;
    margin-left: 100px;
    text-align: center;
    vertical-align:middle;
    background-color: black;
    color: white;
    display: none;
    padding-top: 8px;
    

    position: absolute;
}


