<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Nik Khanna, a product management intern for Pasha Mohammed during the summer of 2013, developed this application. Nik is currently a student at the University of Virginia, and he will graduate in 2016. Feel free to contact Nik at nk5gf@virginia.edu.
  <br/>
  <br/>
  Pasha Mohammed is the Vice President of Product Management at MegaPath. Contact Pasha at pasha.mohammed@megapath.com.
  <br/>
  <br/>
  <%= image_tag 'Contact_Us.png' %>
</p>